{
  "trailingComma": "es5",
  "tabWidth": 4,
  "semi": false,
  "singleQuote": true,
  "svelteStrictMode": true,
  "svelteBracketNewLine": true,
  "svelteIndentScriptAndStyle": true,
  "useTabs": true
}