[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
rope = "*"
yapf = "*"
coverage = "*"
flake8 = "*"
pyfakefs = "*"
pytest = "*"
pytest-asyncio = "*"

[packages]
asyncpg = "*"
aiohttp = {extras = ["speedups"],version = "*"}

[requires]
python_version = "3.7"
