@import 'variables';

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: map_get($theme-colors, 'primary');
}

::-webkit-scrollbar-thumb {
  background: lighten(map_get($theme-colors, 'secondary'), 15);
}

::-webkit-scrollbar-thumb:hover {
  background: lighten(map_get($theme-colors, 'secondary'), 20);
}

::-webkit-scrollbar-corner {
  background: map_get($theme-colors, 'primary');
}
