@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }
  60% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

table {
  tr {
    .sort-control {
      transition: 0.1s all ease-in-out;

      &:hover,
      &.sort-control-active {
        transform: scale(1.5);
      }

      &.sort-control-active {
        color: map_get($theme-colors, 'info');
      }
    }

    td {
      animation: fade-in 0.5s ease-in-out;
    }
  }
}
