@import 'variables';

.task-rating-histogram-bar {
  height: 100%;
  display: inline-block;
}

.task-description {
  background-color: map_get($theme-colors, 'secondary');
  padding: 2px 10px;
  margin-bottom: 10px;

  > .task-description-section {
    padding: 10px 0;

    * {
      margin: 0;
    }
  }
}
